.container {
  padding: 4px; }

.survey {
  padding: 20px;
  background-color: #F7F7F9;
  border: 1px solid #F7F7F9;
  border-radius: 5px; }
  .survey input {
    width: 20%;
    padding: 10px;
    font-size: 14px; }
  .survey button {
    padding: 10px;
    font-size: 14px; }
